
body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: greenyellow;
}

.quem-somos{
    background-color: #8181f7;
    
}

.margin{
    padding-bottom: 30px;
    padding-top: 10px;
}

.parceiros{
    background-color: violet;
}

.bg-footer{
    background-color: black;
    color: white;
}